<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flower.erp.mapper.FlowerCoreMapper">

    <select id="getFlowerDetailedBoList" parameterType="FlowerDetailedBo">
        select * from flower_varieties
            ORDER BY id
    </select>

    <select id="deleteCheck" parameterType="String" resultType="int">
        select count(*) from flower_storage fs
        where fs.detailed_id = #{detailId}
    </select>

    <select id="getStoreQuantity" resultType="int">
        select sum(quantity) from flower_storage
    </select>
    
    <select id="getUChartsStore" resultType="map">
        select type as name,sum(quantity) as value,fv.varieties FROM flower_storage fs
        LEFT JOIN
        flower_detailed fd
        on fd.id = fs.detailed_id
        LEFT JOIN
        flower_varieties fv
        on fd.varieties_id = fv.id
        GROUP BY fd.type
        ORDER BY fv.varieties
    </select>

    <select id="getDetailId" resultType="map" parameterType="string">
        select id,detailed_id,quantity FROM flower_storage where detailed_id = #{detailId}
    </select>

</mapper>